@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.lead-card.dragging {
    opacity: 0.5;
    /* subtle visual cue */
    transform-origin: center;
}

     /* the blue horizontal drop indicator */
.drop-indicator {
    height: 6px;
    background: #3b82f6; /* Tailwind blue-500 */
    border-radius: 3px;
    transition: opacity .12s;
}

    /* ensure columns are layout-friendly */
.kanban-col {
    position: relative; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}